.tela-doacao {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    min-height: 100vh;
    min-height: 100vh;
}


.navbar {
    background-color: #053894;
}

.titulo-doacao {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 138px;
    font-family: "antony" sans-serif;
}

.main-doacao{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#box-doacao {
    width: 30%;
    height: 180px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;

}

#box-doacao {
    box-shadow: 2.5px 3.4px 2.7px rgba(0, 0, 0, 0.025),
        6.3px 8.7px 6.9px rgba(0, 0, 0, 0.035),
        12.9px 17.7px 14.2px rgba(0, 0, 0, 0.045),
        26.6px 36.5px 29.2px rgba(0, 0, 0, 0.055),
        73px 100px 80px rgba(0, 0, 0, 0.08);
}

#input-1 {
    width: 200px;
    height: 30px;

}

.col-md-7 {
    position: relative;
    right: 10px;
}

.col-md-3 label {
    position: relative;
    top: -10px;
}

.col-md-3 select {
    position: relative;
    top: -8px;
    width: -40px;
}

#select-1 {
    position: relative;
    bottom: -10px;
    left: 10px;

}

.col-md-6 {
    position: relative;
    left: -13px;
}

.col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-doacao {
    position: absolute;
    bottom: -200px;
    height: 400px;


}

.tituloBusca {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "antony" sans-serif;
    background-color: #F8B73A;
    border-radius: 5px;
}

#tabela-doacao {
    border-radius: 10px;

}