* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  background-color: #053894;
}

.nav-link {
  margin: 0 15px;
}

/*Estilos próprios*/
.box-fix {
  position: relative;
  top: 55px;
}

.btn-primary {
  background: #0487D9;
  border: none;
}

.section.bg-top {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.header {
  width: 100%;
  height: 80px;
}

.titulo{
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

#paragrafo1 {
  color: black;
  text-align: justify;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 550;
}

.paragrafo {
  color: #000000;
  text-align: justify;
}

.body {
  background: #5c1883dc;
}

.conteudo {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.btn btn-primary {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex>div {
  flex: 1 1 240px;
  margin: 40px;
}

.img {
  max-width: 100%;
  display: block;
}

.card {
  max-height: 40%;
}

.tituloparceiros {
  color: rgb(0, 0, 0);
  text-align: centro;
  font-size: 5vmin;
  font-family: 'Ibarra Real Nova', serifa;
}

.aside {
  border: solid 0px;
  background-color: #F2B705;
  text-align: left;
}

.citacao {
  text-align: center;
  font-style: italic;
}

footer {
  padding: 14px 0;
  background: url(../images/abst.jpg);
  background-size: 100%;
  color: rgb(255, 255, 255);
}

footer ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}

.group-btns a {
  margin: 0 10px;
}

footer a {
  color: white;
  font-size: 17px;
}

#footer-fim {
  background: #053894;
}

.title-footer {
  color: black;
}

section.chamada {
  background: #F2B705;
  padding: 8px 0;
  color: white;
  background-image: url(../images/bg2.png);
}

.card-img-top-maior {
  /*display: flex;
  margin: 0px auto;
  */
  max-width: 600px;
  max-height: 350px;
  width: auto;
  height: auto;
}

.img-maior {
  text-align: center;
}

.custom-title {
  position: relative;
}

.custom-title h2 {
  color: rgb(0, 0, 0);
  font-weight: 650;
  font-size: 40px;
}

.custom-title div {
  position: absolute;
  left: 0;
  top: 0;
  background: #3FA3C5;
  width: 30px;
  height: 4px;
}