* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.navbar {
    background-color: #053894;
}

.nav-link {
    margin: 0 15px;
}

.title {
    text-align: end;
    padding-top: 4vw;
    border-bottom: 2px solid #F18904;
    width: 30%;
    font-family: "anton", sans-serif;
    font-weight: 700;
}

.box-fix {
    position: relative;
    top: 55px;
    background: #5c1883dc;
}

.espaço {
    height: 30px;
}

main {
    padding: 50px;
    position: relative;
    top: 2vw;
    margin: 0 auto;
}

.intro1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1vw;
    border-bottom: 4px dashed #F2B705;
    padding-bottom: 2vw;
}

.intro1 div {
    flex: 1 1;
    padding: 0 15px;
}

.intro1 div h3 {
    font-size: 38px;
    text-align: revert;
    padding: 3.5%;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    color: #fff;
}

.intro1 div img {
    width: 50vw;

}

.intro2 {
    padding: 2vw 0;
    border-bottom: 4px dashed #F2B705;
    color: #fff;
}

.intro2 div h3 {
    text-align: center;
    font-size: 5vmin;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
}

.intro3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2vw;
    border-bottom: 4px solid #F2B705;
    padding-bottom: 2vw;
}

.intro3 div {
    flex: 1 1;
}

.intro3 div h3 {
    font-size: 4vmin;
    text-align: center;
    padding: 3.5%;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    color: #fff;
}

.intro3 div img {
    width: 50vw;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.content-A {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 2.5vw;
    border-bottom: 4px dashed #F2B705;
    padding-bottom: 2vw;
}

.content-A div {
    flex: 1 1 50%;
}

.content-A div h2 {
    font-size: 10vw;
    text-align: justify;
    font-family: "anton", sans-serif;
    font-weight: 700;
    color: #70144a;
}

.content-A div p {
    font-size: 3.5vmin;
    text-align: justify;
    margin-top: 25px;
    padding: 3.5%;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    color: #fff;
}

.content-A1 {
    align-items: center;
}

.content-A1 div {
    flex: 1 1 50%;
    margin-bottom: 20px;
}

.content-A1 div h4 {
    font-size: 4vw;
    text-align: center;
    padding: 3.5%;
    text-decoration: underline;
    padding-bottom: 0vh;
    font-family: "anton", sans-serif;
    font-weight: 700;
    color: #400036;

}

.content-A2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.content-A2 div {
    flex: 1 1;
}

.content-A2 div img {
    width: 50vw;
    margin-bottom: 20px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

}

.content-A2 div p {
    font-size: 3.5vmin;
    text-align: left;
    padding: 10%;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    color: #fff;
}

.content-A3 {
    border: dashed #F2B705;
    border-radius: 15px;
    padding: 1.5vw;
    margin-bottom: 4vw;
}

.content-A3 div p {
    text-align: justify;
    font-size: 3.5vmin;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.content-B {
    align-items: center;
    padding-top: 2vw;
    border-top: 4px solid #F2B705;
    border-bottom: 4px dashed #F2B705;
}

.content-B div h2 {
    font-size: 10vw;
    text-align: center;
    font-family: "anton", sans-serif;
    font-weight: 700;
    color: #253659;
}

.content-B1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 4px solid #F2B705;
}

.content-B1 div {
    flex: 1 1;
}

.content-B1 div img {
    width: 46vw;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.content-B1 div p {
    text-align: justify;
    font-size: 3.5vmin;
    padding: 10%;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    color: rgb(255, 255, 255);

}

.content-C {
    align-items: center;
    padding-top: 2vw;
}


.content-C div h2 {
    font-size: 10vw;
    text-align: center;
    border-bottom: 4px dashed #F2B705;
    color: #D42650;
    font-family: "anton", sans-serif;
    font-weight: 700;
}

.content-C div p {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.content-C div:nth-child(2) {
    padding-top: 2vw;
    text-align: justify;
    font-size: 3.5vmin;
}

.content-C div:nth-child(3) {
    border: dashed #F2B705;
    border-radius: 15px;
    padding: 1.5vw;
    text-align: justify;
    font-size: 3.5vmin;
}



#footer-fim {
    background: #053894;
    color: white;
    height: 53px;
    text-align: center;
    padding: 14px 0;
    background-size: 100%;
}