/*
.custom-toggler.navbar-toggler {
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
*/

.navbar {
  background-color: #053894;
}

.nav-link {
  margin: 0 15px;
}

/*Estilos próprios*/
.box-fix {
  position: relative;
  top: 55px;
}

.box-fix p {
  font-family: 'Inter Tight', sans-serif;
}

.btn-primary {
  background: #0487D9;
  border: none;
}

.custom-title-top {
  position: relative;
}

.custom-title-top h2 {
  color: #F2B705;
  font-size: 25px;
}

.custom-title-top div {
  position: absolute;
  left: 0;
  top: 0;
  background: #3FA3C5;
  width: 30px;
  height: 4px;
}

section.bg-top {
  width: 100%;
  min-height: 500px;
  background-image: url('../images/grupo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.fix-zindex {
  position: relative;
  z-index: 2;
}

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(100, 100, 100, 0.4);
}

.texto-bg {
  display: inline-block;
  color: white;
  padding: 140px 0;
}

.texto-bg p{
  font-size: 18px;
}

/*.texto-bg h2{
  font-family: "anton", sans-serif;
}*/

.padding30 {
  padding-right: 30px;
}

section.chamada {
  background: #F2B705;
  padding: 8px 0;
  color: white;
}

section.chamada h2 {
  font-size: 34px;
}

.sub-title {
  text-align: center;
}

section.sobre-cima {
  padding: 30px 0;
  background: #ffffff;
}

section.sobre-cima .col-md-12 p {
  font-size: 20px;
  font-weight: 500;
}

.modal-title{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.modal-body{
  font-weight: 550;
}

.custom-title {
  position: relative;
}

.custom-title h2 {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.custom-title div {
  position: absolute;
  left: 0;
  top: 0;
  background: #3FA3C5;
  width: 30px;
  height: 4px;
}

section.diferenciais {
  padding: 30px;
  color: black;
  background-image: url(../images/bg2.png);
}

section.diferenciais .col-md-6 {
  padding: 0 40px;
}

section.diferenciais h2 {
  padding: 10px;
  border-bottom: 1px dotted black;
}

section.diferenciais .col-md-6 p {
  color: white;
  font-size: 20px;
}

section.convite {
  padding: 15px 0;
  background: #F2B705;
}

section.convite h2 {
  font-size: 28px;
  margin: 15px 0;
  color: black;
}

section.convite form {
  margin: 15px 0;
}

section.convite input[type=email] {
  width: calc(100% - 100px);
  height: 40px;
}

section.convite button {
  width: 100px;
  height: 40px;
  vertical-align: top;
}

section.contato {
  padding: 30px 0;
  background-image: url(../images/bg2.png);
  color: white;
}

footer {
  padding: 14px 0;
  background: url(../images/abst.jpg);
  background-size: 100%;
  color: white;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}

.group-btns a {
  margin: 0 10px;
}

footer a {
  color: white;
  font-size: 17px;
}

#footer-fim {
  background: #053894;
}

.title-footer {
  color: black;
}

@media screen and (max-width: 1024px) {
  /*
  .navbar-nav{
    margin-top: 30px;
  }
  .nav-link{
  border-top: 1px solid black;
  margin:0 10px;
  }
  */

  .nav-link {
    margin: 0;
  }
}

